@import "components/mixin/mixins";
@import "components/placeholder/placeholders";
@import "components/variable/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font : {
    size: 18px;
    weight: 300;
    family: "Montserrat", sans serif;
  }
}

header {
  min-height: 30vh;
  @include flex(flex, column, center, center);
  border: 3px solid black;
  @include backgroundImage("../resources/images/night_sky.jpg", center, cover);
  h2 {
    padding: 2rem;
    color: #fff;
    text-decoration: line-through;
    font-weight: 300;
  }
  .date-display {
    padding: .5rem;
    color: rgb(125, 124, 124);
    font-weight: 500;
  }
  .time-display {
    padding: .5rem;
    color: #fff;
    font-weight: 700;
  }
  form {
    padding: 2rem;
    display: flex;
    input {
      font-size: 2rem;
      padding: 0.5rem;
      border: none;
      width: 100%;
      background: none;
      border-bottom: 3px solid black;
      outline: none;
      color: #fff;
    }
    button {
      border: none;
      padding: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      background: black;
      color: #fff;
    }
  }
}

.weather-display {
  //@include backgroundImage('../resources/images/ink-drop.jpg', center, cover);
  background: black;
  min-height: 66vh;
  @include flex(flex, row, center, center);
  .weather-card {
    border: 5px solid rgb(0, 0, 0);
    @include flex(flex, column, center, center);
    background: #fff;
    flex: 0.3;
    min-height: 20rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px;
    color: blue;
    .city-name {
    }
    .weather-description {
    }
    .temperature {
      padding: 2rem;
      font-size: 3rem;
    }
  }
}
